.flex-section{
    width: 100%;
    padding: 80px 0px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.flex-box{
    height: 60vh;
    border: 5px solid #ff000f;
    display: flex;
    justify-content: space-between;
}

.box{
    width: 120px;
    height: 120px;
    background:  darkblue;
    margin: 10px;
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 120px;
}

.box1{
order: 3;
}

.box2{
order: 2;
}

.box3{
order: 1;
}